<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
  <h1>Admin Login</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash">{{ messages[0] }}</div>
    {% endif %}
  {% endwith %}

  <form method="POST">
    <input type="password" name="passcode" placeholder="Enter Passcode" required>
    <button type="submit">Login</button>
  </form>

  <p style="text-align:center;margin-top:20px;">
    <a href="{{ url_for('home') }}">⬅ Back to Suggestion Box</a>
  </p>
  <p>
    for testing enter passcode as : 1234
  </p>
</div>
</body>
</html>
